@import "variables";

:host {
  z-index: 10000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(66, 66, 74, 0.7);
  text-align: center;

  .tableCtrl, .control-buttons {
    width: 500px;
  }

  .tableCtrl {
    height: auto;
    padding: 10px 30px 50px 30px;
    margin: 100px auto 0px auto;
    background-color: #eef3f6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .validated-checkbox {
      margin: 8px 0 13px 0;
      display: block;
    }

    mat-form-field {
      display: block;
      margin: 0 20px;
      zoom: 0.75;
    }

    .row {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 1px 9px -4px hsla(0,0%,50.2%,.788235294117647);
      margin-top: 35px;
      padding-top: 15px;
      align-items: center;
      color: #313131;
      position: relative;
      display: block;
      .label {
        font-size: 11px;
        font-weight: 600;
        position: absolute;
        // text-align: left;
        color: #1f7f90;
        position: absolute;
        top: -22px;
      }
      mat-form-field {
        display: inline-block;
        width: 182px;
      }
    }
    
  }

  .control-buttons {
    width: 560px;
    margin: 0px auto 20px auto;
    background-color: #d0e4f0;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-around;
    height: 56px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    button {
      color: white;
      margin: 11px;
      border-radius: 4px;
      background-color: #1f7f90;
    }
  }
}
