<div class="tableCtrl">

  <mat-checkbox [formControl]="validatedCtrl" class="validated-checkbox">Pouze schválené</mat-checkbox>

  <!-- BASIC -->
  <div class="row">
    <div class="label">Základní informace</div>
    <mat-form-field appearance="fill">
      <mat-label>Vlastník</mat-label>
      <mat-select [formControl]="vlastCtrl" multiple [disabled]="!validatedCtrl.value">
        <mat-select-trigger>
          {{vlastCtrl.value ? vlastCtrl.value[0] : ''}}
          <span *ngIf="vlastCtrl.value?.length > 1" class="example-additional-selection">
            (+{{vlastCtrl.value.length - 1}} další)
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let vlast of vlastItems" [value]="vlast">{{vlast}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Typ Objektu</mat-label>
      <mat-select [formControl]="typeCtrl" multiple>
        <mat-select-trigger>
          {{typeCtrl.value ? typeCtrl.value[0] : ''}}
          <span *ngIf="typeCtrl.value?.length > 1" class="example-additional-selection">
            (+{{typeCtrl.value.length - 1}} další)
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let vlast of typeItems" [value]="vlast">{{vlast}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Vložení stromu od do</mat-label>
      <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>

  <!-- RADIUS -->
  <div class="row">
    <div class="label">Hledat v okolí</div>
    <mat-form-field appearance="fill">
      <mat-label>Longitude</mat-label>
      <input [formControl]="lonCtrl" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Latitude</mat-label>
      <input [formControl]="latCtrl" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Radius</mat-label>
      <input [formControl]="rCtrl" matInput>
    </mat-form-field>
  </div>

  <!-- AREA -->
  <div class="row">
    <div class="label">Oblast hledání</div>
    <mat-form-field appearance="fill">

      <mat-label>Kraj</mat-label>
      <mat-select [formControl]="krajCtrl">
        <mat-select-trigger>
          {{krajCtrl.value}}
        </mat-select-trigger>
        <mat-option *ngFor="let kraj of areas.kraj" [value]="kraj.label">{{kraj.label}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Vlastník</mat-label>
      <mat-select [formControl]="vlastCtrl" multiple>
        <mat-select-trigger>
          {{vlastCtrl.value ? vlastCtrl.value[0] : ''}}
          <span *ngIf="vlastCtrl.value?.length > 1" class="example-additional-selection">
            (+{{vlastCtrl.value.length - 1}} další)
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let vlast of vlastItems" [value]="vlast">{{vlast}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Vlastník</mat-label>
      <mat-select [formControl]="vlastCtrl" multiple>
        <mat-select-trigger>
          {{vlastCtrl.value ? vlastCtrl.value[0] : ''}}
          <span *ngIf="vlastCtrl.value?.length > 1" class="example-additional-selection">
            (+{{vlastCtrl.value.length - 1}} další)
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let vlast of vlastItems" [value]="vlast">{{vlast}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Vlastník</mat-label>
      <mat-select [formControl]="vlastCtrl" multiple>
        <mat-select-trigger>
          {{vlastCtrl.value ? vlastCtrl.value[0] : ''}}
          <span *ngIf="vlastCtrl.value?.length > 1" class="example-additional-selection">
            (+{{vlastCtrl.value.length - 1}} další)
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let vlast of vlastItems" [value]="vlast">{{vlast}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Vlastník</mat-label>
      <mat-select [formControl]="vlastCtrl" multiple>
        <mat-select-trigger>
          {{vlastCtrl.value ? vlastCtrl.value[0] : ''}}
          <span *ngIf="vlastCtrl.value?.length > 1" class="example-additional-selection">
            (+{{vlastCtrl.value.length - 1}} další)
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let vlast of vlastItems" [value]="vlast">{{vlast}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>


</div>
<div class="control-buttons">
  <button mat-raised-button (click)="submitCtrlForms()">Filtrovat</button>
  <button mat-raised-button (click)="clearForm()">Zrušit</button>
</div>