<div class="table-ctrl">
  <button mat-raised-button [disabled]="loadingData">
    Smazat vybrané
  </button>
</div>

<div class="full-width-table mat-elevation-z8">

  <table *ngIf="!loadingData && users.length > 0">
    <thead>
      <tr>
        <!-- <th><mat-checkbox (click)="toggleAll()"></mat-checkbox></th> -->
        <th>jméno</th>
        <th>e-mail</th>
        <th>telefon</th>
        <th>role</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

  <!-- loading -->
  <tbody *ngIf="loadingData">
    <tr>
      <td colspan="7">
        <mat-spinner></mat-spinner>
      </td>
    </tr>
    <tr>
      <td colspan="7">Čekejte prosím, načítám uživatele</td>
    </tr>
  </tbody>

  <!-- not results -->
  <tbody *ngIf="!loadingData && users.length === 0">
    <tr>
      <td colspan="7">V seznamu nejsou žádní uživatelé!</td>
    </tr>
  </tbody>

    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <!-- <td><mat-checkbox [(ngModel)]="selectedUsers[i]"></mat-checkbox></td> -->
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>
          <div [ngClass]="(user.role === 'admin')?'red':'green'">
            {{user.role}} 
          </div>
        </td>
        <td class="button-icons">
          <button mat-button (click)="edit(user)"
            *ngIf="user.role !== 'admin' || userRole === 'superAdmin'">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button (click)="delete(user.id)"
            *ngIf="user.role !== 'admin' || userRole === 'superAdmin'">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- <app-filter-paginator></app-filter-paginator> -->
</div>