@import 'extends-table';
@import 'variables';

:host {
  @include router-default;
  .table-ctrl {
    width: 90%;
    height: 36px;
    margin: 30px auto 15px auto;
    button {
      border-radius: 5px;
      // background: linear-gradient(145deg, var(--primary-button-light-background), var(--primary-button-dark-background));
      // box-shadow: 5px 5px 10px var(--primary-button-light-shadow), -5px -5px 10px var(--primary-button-dark-shadow);

      float: right;
      line-height: 30px;
      font-size: 12px;
    }
    div {
      display: inline-block;
      line-height: 36px;
      font-size: 20px;
      font-weight: 600;
    }
  }
  .full-width-table {
    margin-top: 0px;
    .button-icons {
      padding: 0px !important;
    }
    div {
      padding: 6px !important;
      font-size: 13px;
      &.green {
        background-color: #ebf9eb;
        color: #82d681;
      }
      &.red {
        background-color: #f7f1f0;
        color: #f48475
      }
    }
  }
}

::ng-deep mat-spinner{
  margin: 100px auto 0 auto;
}

::ng-deep .mat-tooltip {
  font-size: 12px;
  margin-bottom: -10px !important;
}

::ng-deep .mat-form-field-wrapper {
  // padding-bottom: 0;
}
