:host {
  position: fixed;
  width: calc(100% - var(--navigation-width));
  height: var(--header-height);
  top: 0px;
  left: var(--navigation-width);
  z-index: 9;
  background-color: var(--header-background-color);
  align-items: center;
  text-align: center;
  box-shadow: 0 -2px 8px grey;

  div {
    margin: auto;
    line-height: var(--header-height);
    font-size: 20px;
    font-weight: 600;
  }
}
