:host {
  .addForm {
    width: 400px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    .mat-form-field {
      margin-top: 16px;
      display: block;
      width: 100%;
    }
  }
}
