<form [formGroup]="adminFormGroup" class="addForm">
  <ng-template matStepLabel>Správce</ng-template>
  <mat-form-field>
    <mat-label>Komentář</mat-label>
    <input matInput formControlName="comment">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Soubory</mat-label>
    <input matInput formControlName="files">
  </mat-form-field>
</form>