<div class="subheader">CSV</div>
<div class="files">
  <a href="{{API}}/admin/export/strom" download>
    <mat-icon mat-list-icon class="icon">note</mat-icon>
    <div class="label"></div>Tabulka strom
  </a>
  <a href="{{API}}/admin/export/appStrom" download>
    <mat-icon mat-list-icon class="icon">note</mat-icon>
    <div class="label"></div>Tabulka neschválené stromy
  </a>
</div>

<!-- <mat-divider></mat-divider> -->
