@import "extends-table";
@import "variables";

:host {
  @include router-default;
  .subheader {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    padding: 16px;
    margin-top: 20px;
  }
  .files {
    margin-left: 30px;
    a {
      width: 300px;
      color: rgba(0, 0, 0, 0.87);
      text-decoration: none;
      font-weight: 400;
      font-size: 16px;
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      padding: 0 16px;
      position: relative;
      height: 70px;
      &:hover {
        background-color: #c8ddf0;
      }
    }
    .icon {
      color: rgba(0, 0, 0, 0.54);
    }
    .label {
      padding-left: 16px;
    }
  }
}
