@import 'variables';

:host {
  div {
    width: 100%;
    min-width: 100%;
    height: var(--header-height);
    min-height: var(--header-height);
    z-index: 0;
  }
  span {
    // position: fixed;
    display: inline-block;
    width: var(--navigation-width);
    min-width: var(--navigation-width);
    height: calc(100vh - var(--header-height));
    min-height: calc(100vh - var(--header-height));
  }
}