@import "extends-table";
@import "variables";

:host {
  @include router-default;
  .mat-form-field {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .sectionHeader {
    padding: 8px 20px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.54);
    background: rgba(0, 0, 0, 0.03);
    margin-bottom: 20px;
  }
  .container {
    height: calc(100vh - 170px);
    width: calc(100% - 40px);
    margin: 0 20px;
    position: relative;
    top: 100px;
    .BTNdiv {
      width: 100%;
      text-align: center;
    }
  }
}
