<div class="container">

  <div class="sectionHeader">Přihlášení</div>

  <form [formGroup]="loginForm">
    <mat-form-field>
      <mat-label>Jméno/email</mat-label>
      <input matInput type="string" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Heslo</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>

    <div *ngIf="wrongAuth">Přihlašovací údaje nejsou správné. Pro testovací účely zkuste admin-admin a nebo superAdmin-superAdmin</div>
    
    <div class="BTNdiv">
      <button mat-button color="primary" (click)="submit()">Přihlásit</button>
    </div>
  </form>
</div>
