@import "extends-table";
@import "variables";

:host {
  @include router-default;
  h1 {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }
  .page {
    margin: 30px;
  }
  .mainInfo,
  .catContent {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 30px;
    border-bottom: 1px solid lightgray;
  }

  .infoBlock,
  .catBlock {
    margin: 20px;
  }

  .line {
    padding: 10px;
  }
  .label,
  .content {
    display: inline-block;
  }
  .content {
    padding-left: 10px;
    font-weight: bold;
  }
  .catInfo {
  }
  .catBlock {
    table {
      border-collapse: collapse;
    }

    table,
    th,
    td {
      border: 1px solid black;
    }
    td,
    th {
      padding: 8px;
    }
  }
}
