<div class="container">
  <div class="sectionHeader" *ngIf="id !== ''">EDITACE UŽIVATELE</div>
  <div class="sectionHeader" *ngIf="id === ''">REGISTRACE UŽIVATELE</div>

  <form [formGroup]="registerForm" (ngSubmit)="submit()">

    <mat-form-field>
      <mat-label>jméno *</mat-label>
      <input matInput type="string" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>e-mail *</mat-label>
      <input matInput type="email" formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <mat-label>telefon</mat-label>
      <input matInput type="string" formControlName="phone">
    </mat-form-field>
  
    <div class="checkboxDiv">
      <mat-checkbox formControlName="role">administrátor</mat-checkbox>
    </div>

    <mat-form-field formGroupName="passwords">
      <mat-label>heslo *</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>

    <mat-form-field formGroupName="passwords">
      <mat-label>heslo znovu *</mat-label>
      <input matInput type="password" formControlName="passwordAgain">
    </mat-form-field>
    <div *ngIf="!valide">{{validatorMessage}}</div>

    <div class="BTNdiv" *ngIf="id !== ''">
      <button mat-button color="primary" type="submit">Upravit uživatele</button>
    </div>
    <div class="BTNdiv" *ngIf="id === ''">
      <button mat-button color="primary" type="submit">Vytvořit uživatele</button>
    </div>

  </form>

</div>