@import 'extends-table';
@import 'variables';

:host {
  @include router-default;
  .map-container {
    width: 100%;
    height: 100%;
    // height: calc(100% - var(--header-height));
    position: fixed;
  }
  button {
    z-index: 1000;
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    height: 35px;
    width: 160px;
    border-radius: 20px;
    background-color: #4d68ffcc;
    box-shadow: 3px 3px 14px #272727e3;
    font-weight: 600;
    border: none;
    outline:none;
    &:hover {
      cursor: pointer;
    }
  }
}
::ng-deep .mapboxgl-popup-content {
  box-shadow: 5px 5px 14px #848282;
  border-radius: 20px;
  width: 150px;
  text-align: center;
  padding: 10px 10px 0 10px;
  h1 {
    width: 130px;
    font-size: 15px;
    margin: 10px auto 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;

  }
  div {
    margin: 5px auto;
    text-align: center;
  }
  #mapPopup {
    margin: 5px 0 13px 0;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    background-color: #5a73ff38;
    box-shadow: 3px 3px 7px #d3b5b5;
    font-weight: 600;
    border: none;
    outline: none;
    &:hover {
      cursor: pointer;
    }
  }
  .mapboxgl-popup-close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 15px;
  }
}