@import "extends-table";
@import "variables";

:host {
  @include router-default;
  background-color: var(--background-secondary-color);
  .table-ctrl {
    width: 90%;
    height: 36px;
    margin: 30px auto 15px auto;
    button {
      float: right;
      line-height: 30px;
      font-size: 12px;
    }
    div {
      display: inline-block;
      line-height: 36px;
      font-size: 20px;
      font-weight: 600;
    }
  }
  .paginator {
    td {
      padding: 0px !important;
      position: sticky;
    }
  }
  .full-width-table {
    margin-top: 0px;
    .button-icons {
      padding: 0px !important;
    }
  }
}
