<app-filter *ngIf="showFilter"></app-filter>
<div class="table-ctrl">
  <button mat-raised-button (click)="toggleFilter()" [disabled]="loadingData">
    <span class="material-icons">filter_list</span>
    Filtrovat
  </button>
</div>

<div class="full-width-table mat-elevation-z8">

  <table>
    <thead>
      <tr>
        <!-- <th>
          <mat-checkbox (click)="toggleAll()"></mat-checkbox>
        </th> -->
        <th>jméno</th>
        <th>datum</th>
        <th>typ</th>
        <th>vlastnik</th>
        <th>K</th>
        <th></th>
      </tr>
    </thead>

    <!-- loading -->
    <tbody *ngIf="loadingData">
      <tr>
        <td colspan="10">
          <mat-spinner></mat-spinner>
        </td>
      </tr>
      <tr>
        <td colspan="10">Čekejte prosím, dat mnoho, server pomalý a času dost</td>
      </tr>
    </tbody>

    <!-- not results -->
    <tbody *ngIf="!loadingData && trees.length === 0">
      <tr>
        <td colspan="10">Vašemu výběru neodpovídají žádné záznamy!</td>
      </tr>
    </tbody>
    
    <!-- table content -->
    <tbody *ngIf="!loadingData">
      <tr *ngFor="let tree of trees; let i = index">
        <!-- <td>
          <mat-checkbox [(ngModel)]="selectedTrees[i]"></mat-checkbox>
        </td> -->
        <td style="color: #92bdfb;">{{tree.S.NAME}}</td>
        <td>{{prepareDate(tree.S.DATIN)}}</td>
        <td>{{tree.S.TYP_OBJ}}</td>
        <td>{{tree.S.VLAST}}</td>
        <td>
          <div title="{{getTooltip(getKValues(tree))}}" [ngStyle]="getColor(getKValues(tree)[0])">
            {{getKValues(tree)[0]}}
          </div>
        </td>
        <td class="button-icons">
          <button mat-button [routerLink]="['/editTree', tree.id, showValidated]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button *ngIf="tree.S.EXURL!==''">
            <mat-icon>language</mat-icon>
          </button>
          <button *ngIf="!showValidated" mat-button (click)="delete(tree.id)">
            <mat-icon>delete</mat-icon>
          </button>
          <button *ngIf="!showValidated" mat-button (click)="validate(tree.id)">
            <mat-icon>check_circle</mat-icon>
          </button>
        </td>
      </tr>
      <tr class="paginator">
        <td colspan="10">
          <app-filter-paginator></app-filter-paginator>
        </td>
      </tr>
    </tbody>
  </table>

</div>