@import "extends-table";
@import "variables";

:host {
  @include router-default;
  padding: 20px 0;
  height: calc(100% - 40px);
  .full-width-table {
    height: calc(100% - 40px);
    max-height: calc(100% - 70px);
    margin: 0 auto;
    position: relative;
    button {
      position: fixed;
      bottom: 9px;
      left: 50%;
      transform: translate(-10%, 0);
      padding: 5px 15px;
      border-radius: 8px;
      background-color: var(--block-header-color);
      color: white;
      box-shadow: 3px 2px 11px -1px grey;
      &:hover {
        cursor: pointer;
      }

    }
    .table-nav {
      th {
        width: 20%;
        &.selected {
          color: black;
        }
        &:hover {
          cursor: pointer;
          background-color: var(--nav-background-color);
        }
      }
    }
    tbody {
      padding-bottom: 40px;
      tr :hover {
        background-color: var(--block-background-color);
      }
    }
  }
}
