<div class="full-width-table mat-elevation-z8">
  <button (click)="submitTree()">Odeslat Změny</button>

  <table>
    <thead>
      <tr class="table-nav">
        <th (click)="editTreeRouter='primary'" [ngClass]="editTreeRouter==='primary'?'selected':''">Strom</th>
        <th (click)="editTreeRouter='gallery'" [ngClass]="editTreeRouter==='gallery'?'selected':''">Fotorafie</th>
        <th (click)="editTreeRouter='dangers'" [ngClass]="editTreeRouter==='dangers'?'selected':''">Ohrožení</th>
        <th (click)="editTreeRouter='classification'" [ngClass]="editTreeRouter==='classification'?'selected':''">Klasifikace</th>
        <th (click)="editTreeRouter='editor'" [ngClass]="editTreeRouter==='editor'?'selected':''">Editoval</th>
      </tr>
    </thead>
    
    <tbody [ngSwitch]="editTreeRouter">
      <tr *ngSwitchCase="'primary'">
        <td colspan="5">
          <app-edit-primary></app-edit-primary>
        </td>
      </tr>
      <tr *ngSwitchCase="'gallery'">
        <td colspan="5">
          <app-edit-gallery></app-edit-gallery>
        </td>
      </tr>
      <tr *ngSwitchCase="'dangers'">
        <td colspan="5">
          <app-edit-denger></app-edit-denger>
        </td>
      </tr>
      <tr *ngSwitchCase="'classification'">
        <td colspan="5">
          <app-edit-classification></app-edit-classification>
        </td>
      </tr>
      <tr *ngSwitchCase="'editor'">
        <td colspan="5">
          <app-edit-editor></app-edit-editor>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>