<form [formGroup]="baseFormGroup" class="addForm">
  <ng-template matStepLabel>Základní informace</ng-template>

  <mat-form-field>
    <mat-label>Longitude</mat-label>
    <input matInput [formControl]="baseFormGroup.controls['lonCtrl']">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Latitude</mat-label>
    <input matInput formControlName="latCtrl">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Typ objektu</mat-label>
    <mat-select formControlName="typeCtrl" name="objectType">
      <mat-option *ngFor="let type of objectTypes" [value]="type.value">
        {{type.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Datum aktualizace stromu</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dateAktCtrl">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Komentář uživatele</mat-label>
    <input matInput formControlName="commUCtrl" readonly>
  </mat-form-field>
</form>
