@import 'variables.scss';
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Open Sans', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #aaaaaa #ffa50000;
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background: #ffa50000;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    border-radius: 20px;
    border: 3px solid #f2f2f2;
  }
}
body {
  background-color: var(--background-primary-color);
}
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
