@import "variables";

.full-width-table {
  background-color: var(--block-background-color);
  width: 90%;
  margin: 0 auto 30px auto;
  overflow-y: auto;
  max-height: calc(100vh - 200px);
  border-radius: 5px;

  table {
    padding: 10px;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
    line-height: 30px;
    width: 100%;
    thead {
      border-collapse: separate;
      box-shadow: 0px -1px 10px gray;
      tr {
        border: none;
      }
      th {
        background-color: var(--block-header-color);
        position: sticky;
        top: 0;
        z-index: 999;
        padding: 10px 0;
        color: white;
      }
    }
    tbody {
      tr {
        line-height: 48px;
        &:hover {
          background-color: var(--tr-hover-color)
        }
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        td {
          padding: 0 15px;
          align-items: center;
          &:last-of-type {
            padding-right: 15px;
          }
          div {
            margin: auto;
            padding: 10px;
            width: 50px;
            height: 15px;
            line-height: 15px;
            border-radius: 5px;
            font-weight: 700;
          }
        }
      }
    }
  }

  .mat-button {
    margin: 0;
    padding: 3px;
    min-width: auto;
    line-height: 15px;
    color: #888988;
    .mat-icon { 
      font-size: 20px;
    }
    &:hover {
      color: #3f51b5;
    }
  }
}


::ng-deep mat-spinner{
  margin: 20px auto 20px auto;
}

::ng-deep .mat-tooltip {
  font-size: 12px;
  margin-bottom: -10px !important;
}

::ng-deep .mat-form-field-wrapper {
  // padding-bottom: 0;
}