$header-height: 70px;
$navigation-width: 70px;

:root {
  --header-height:  #{$header-height};
  --navigation-width: #{$navigation-width};
  --background-primary-color: #eef3f6;
  --block-background-color: #ffffff;
  --block-header-color: #37dcf9;
  --block-header-color: #1f7f90;

  --header-background-color: #ffffff;
  --tr-hover-color:rgb(236, 236, 236);

  --nav-background-color: #575f72;
  --nav-hover-color: #4e5567;
  // --nav-secondary-color: #37dcf9;
  --nav-secondary-color: #1f7f90;
  --nav-active-color: #facf5a;

  --background-block-secondary-color: rgb(3, 3, 61);

  --primary-color: #3f51b5;
  --secondary-color: #adb9ff;
}

@mixin router-default {
  position: fixed;
  top: #{$header-height};
  left: #{$navigation-width};

  height: calc(100vh - #{$header-height} );
  min-height: calc(100vh - #{$header-height} );
  max-height: calc(100vh - #{$header-height} );

  width: calc(100vw - #{$navigation-width} );
  min-width: calc(100vw - #{$navigation-width} );
  max-width: calc(100vw - #{$navigation-width} );
}

// @mixin nav-button-shadow {
//   // background: linear-gradient(145deg, #b9c6ff, #9ca7e6);
//   // box-shadow: 5px 5px 10px #8790c7, -5px -5px 10px #d3e2ff;
// }

// @mixin block-shadow {
//   background-color: green
//   // #{--background-block-color}
//   // background: linear-gradient(145deg, #ffffff, #e6e6e6);
//   // box-shadow:  5px 5px 9px #dcdcdc,
//   //             -5px -5px 9px #ffffff;
// }