<ul>
  <li class="header-li">
    <button>
      <mat-icon class="icon" aria-hidden="false">
        nature_people
      </mat-icon>
      <div>Významné stromy</div>
    </button>
  </li>
  <li [ngClass]="{'activated': active === 'add'}">
    <button [routerLink]="['/editTree/0/false']">
      <mat-icon class="icon" aria-hidden="false">
        add_box
      </mat-icon>
      <div>Přidat strom</div>
    </button>
  </li>
  <li [ngClass]="{'activated': active === ''}">
    <button [routerLink]="['/']">
      <mat-icon class="icon" aria-hidden="false">
        location_on
      </mat-icon>
      <div>Mapa stromů</div>
    </button>
  </li>
  <li [ngClass]="{'activated': active === 'downloads'}">
    <button [routerLink]="['/downloads']">
      <mat-icon class="icon" aria-hidden="false">get_app
      </mat-icon>
      <div>Exportovat databázi</div>
    </button>
  </li>
  <li [ngClass]="{'activated': active === 'trees'}">
    <button [routerLink]="['/trees']">
      <mat-icon class="icon" aria-hidden="true">table_view</mat-icon>
      <div>Tabulka stromů</div>
    </button>
  </li>
  <li [ngClass]="{'activated': active === 'user'}" id="users-menu">
    <button>
      <mat-icon class="icon" aria-hidden="false" aria-label="Example heart icon">account_box</mat-icon>
      <div>Uživatelské účty</div>
    </button>
    <ul>
      <li>
        <span class="material-icons">keyboard_arrow_right</span>
        <button mat-menu-item (click)="logout()">Odhlásit</button>
      </li>
      <li>
        <span class="material-icons">keyboard_arrow_right</span>
        <button mat-menu-item [routerLink]="['/password']">Změnit heslo</button>
      </li>
      <li *ngIf="userRole === 'admin' || userRole === 'superAdmin'">
        <span class="material-icons">keyboard_arrow_right</span>
        <button
          mat-menu-item
          [routerLink]="['/register']">
          Vytvořit uživatele
        </button>
      </li>
      <li *ngIf="userRole === 'admin' || userRole === 'superAdmin'">
        <span class="material-icons">keyboard_arrow_right</span>
        <button
          mat-menu-item
          [routerLink]="['/users']">
          Seznam uživatelů
        </button>
      </li>
    </ul>
  </li>
</ul>