@import 'extends-table';
@import 'variables';

$labels-width: 140px;
$transform-duration: 0.2s;

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--navigation-width);
  // width: calc(var(--navigation-width) + #{$labels-width} + 15px);
  height: 100vh;
  z-index: 10;
  background-color: var(--nav-background-color);
  transition: width #{$transform-duration};
  box-shadow: 2px 0 9px grey;

  ul {
    height: 100%;
    background-color: var(--nav-background-color);
    li {
      padding: 10px 10px;
      &:hover {
        background-color: var(--nav-hover-color);
        cursor: pointer;
      }
      button {
        &:focus {outline:0;}
        &:hover {cursor: pointer;}
        color: white;
        background-color: inherit;
        display: block;
        padding: 0;
        height: 50px;
        min-width: 50px;
        overflow: hidden;
        white-space: nowrap;

        .icon {
          vertical-align: middle;
          font-size: 20px;
          padding: 0 12px;
          height: 25px;
          width: 25px;
          padding-right: 23px;
        }
        div {
          text-align: left;
          vertical-align: middle;
          font-size: 13px;
          display: inline-block;
          width: 0px;
          // width: #{$labels-width};
          transition: width #{$transform-duration};
        }
      }
      &.activated {
        button {
          color: var(--nav-active-color);
        }
      }
      &.header-li {
        padding: 0 10px;
        background-color: var(--nav-secondary-color);
        height: var(--header-height);
        line-height: var(--header-height);
        button, .icon {
          background-color: var(--nav-secondary-color);
        }
      }
    }
    #users-menu {
      ul {
        background-color: var(--nav-hover-color);
        width: calc(var(--navigation-width) + #{$labels-width} + 15px);
        position: relative;
        left: 10px;
        float: right;
        display: none;
        // display: block;
        text-align: right;
        li {
          height: 24px;
          line-height: 24px;
          text-align: left;
          margin-left: auto;
          width: 140px;
          display: block;
          position: relative;
          .material-icons, button {
            display: inline-block;
            height: 24px;
            line-height: 24px;
            font-size: 12px;
          }
          .material-icons {
            font-size: 16px;
            position: absolute;
            display: block;
            opacity: 0;
            color: white;
            transition: opacity 0s ease-out;
            -moz-transition: opacity 0s ease-out;
            -webkit-transition: opacity 0s ease-out;
            -ms-transition: opacity 0s ease-out;
          }
          button {
            position: absolute;
            display: inline-block;
            padding-left: 20px;
            transition: padding-left .2s ease-out;
            -moz-transition: padding-left .2s ease-out;
            -webkit-transition: padding-left .2s ease-out;
            -ms-transition: padding-left .2s ease-out;
          }
          &:hover > button {
            padding-left: 30px;
          }
          &:hover > .material-icons {
            background-color: var(--nav-hover-color);
            display: block;
            z-index: 11;
            opacity: 1;
            transition: opacity .2s ease-out;
            -moz-transition: opacity .2s ease-out;
            -webkit-transition: opacity .2s ease-out;
            -ms-transition: opacity .2s ease-out;

          }
        }
      }

      &:hover > ul {
          display: block;
      }

    }
  }

  &:hover {
    width: calc(var(--navigation-width) + #{$labels-width} + 15px)
  }
  &:hover > ul {
    li {
      button {
        div {
          width: #{$labels-width};
        }
      }
    }
  }
}
