<div class="container">
    <div class="sectionHeader">
        Změna hesla
    </div>

    <form [formGroup]="changePasswordForm">
        <mat-form-field>
        <mat-label>Současné heslo</mat-label>
        <input matInput type="password" formControlName="currentPassword">
        </mat-form-field>
    
        <mat-form-field>
        <mat-label>Nové heslo</mat-label>
        <input matInput type="password" formControlName="newPassword">
        </mat-form-field>

        <mat-form-field>
        <mat-label>Nové heslo znovu</mat-label>
        <input matInput type="password" formControlName="passwordCheck">
        </mat-form-field>
    
        <div *ngIf="wrongCurrent">Heslo nelze změnit, pravděpodobně špatně zadané současné heslo</div>
        <div *ngIf="wrongRep">Potvrzení hesla nesprávné</div>
        
        <div class="BTNdiv">
        <button mat-button color="primary" (click)="submit()">Změnit heslo</button>
        </div>
    </form>

</div>